<div class="container">
  <div class="columns is-multiline">
    <div class="column is-5 is-offset-4">
      <div class="is-size-3">Edit <span class="has-text-weight-bold"><%= @article.title %></span>' comment</div>
    </div>
    <%= render 'form', article: @article, comment: @comment, submit_name: "Update", edit: true %>
  </div>
</div>