 <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
      </div>
    </div>
  </div>